/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.slick-slider {
  width: 100% !important;
  margin: 0 !important;
}

.slick-initialized .slick-slide{
  background-color: white !important;
}

.slide-item{
  margin: 0 2rem;
}

body .slick-prev,
body .slick-next {
  height: 45px;
  width: 40px;
  // background: black !important;
  z-index: 100;
}

.slick-prev:before, .slick-next:before{
  color:#2196F3 !important;
  font-size: 35px !important;
}

@media (min-width: 35em) {
  .slick-slider {
    width: 88% !important;
    margin: auto !important;
  }
}
