<footer>
  <div class="footer-item">
      <img class="icon-location" src="/assets/images/footer/icon-location.png" alt="">
      <p class="footer-txt">
        WhatsApp: (11) 98659-2191
      </p>
  </div>

  <div class="footer-item">
      <img src="/assets/images/footer/icon-whatsapp.png" alt="">
      <p class="footer-txt">
        R. Amílcar Tomazoni, 66 - Vila Medeiros, São Paulo - SP, 02219-040
      </p>
  </div>

  <div class="vertical-line">
  </div>

  <a class="link-image" target="_blank" href="https://nmnewmode.com.br">
      <img src="/assets/images/footer/logo-nm.png" alt="">
  </a>

  <img class="logo-giacomazzi" src="/assets/images/header/logo-giacomazzi.png" alt="">

  <p class="footer-txt">
       R² Serviços contábeis  © - Todos os direitos reservados
      <br>
      <br>
      Suporte:
      <a href="#">
        contato@r2servicoscontabeis.com.br
      </a>
  </p>

  <ul>
      <li><a href="#">Sobre</a></li>
      <li><a href="#">Orçamento</a></li>
      <li><a href="#">Certificados digitais</a></li>
  </ul>
</footer>
